.page-banner{
    width: 100%;
    background-position: 50% 50%;
    position: relative;
    /*min-height: 490px;*/
    background-repeat: no-repeat;
    z-index: 0;
} 
.page-banner .row{ min-height: 490px; }

.page-banner .row h1{
    font-family: 'Bruno Ace', sans-serif; 
    font-size: 3.8rem;
    font-weight: 300;
    line-height: 1.2;
}


/*Text appearing effect*/
.loading-container {  
    width: 100%;
    text-align: center;
    color: #fff;
    position: relative;
    margin: 0 32px;
}
.loading-container::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    animation: movingLine 1.2s ease-out forwards;
}
@keyframes movingLine {
    0% { width: 0; opacity: 1; }
    100% { width: 100%; opacity: 1; }
}
.loading-text {
    font-size: 5vw;
    line-height: 64px;
    letter-spacing: 10px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-evenly;
}
.loading-text span {
    animation: moveLetters 1.2s ease-out forwards; /* faster */
    position: relative;
    display: inline-block; 
    opacity: 0;
    text-shadow: 0px 2px 10px rgba(46, 74, 81, 0.3); 
}
@keyframes moveLetters {  
    0% { transform: translateX(-15vw); opacity: 0; }
    60% { transform: translateX(2vw); opacity: 1; }
    100% { transform: translateX(0);  opacity: 1; }
}
/*__/Text appearing effect*/
  


/***********************************************************************
                               #MEDIA QUERIES:
***********************************************************************/

@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 991px) {
    .page-banner .row{ min-height: 350px; }
    .page-banner .row h1{ font-size: 3.4rem; }
}
@media screen and (max-width: 767px) {
    .page-banner .row{ min-height: 280px; }
    .page-banner .row h1{ font-size: 2.7rem; } 
} 
@media screen and (max-width: 575px) {
    .page-banner .row{ min-height: 170px; }
    .page-banner .row h1{ font-size: 1.8rem; }
} 