/* .usedcar--page .cars-section .row > div, .sidebar{ outline: 1px solid black; }  */
.usedcar--page .usedcar--page-titles h1 > strong{ color: #ffc107; font-style: italic;}
.usedcar--page .usedcar--page-titles h1 + p > strong { 
    font-family: 'Bruno Ace', sans-serif; 
    color: #ffc107; 
    padding: 0 6px; 
} 
.usedcar--page .cars-section .card--car .card-body,
.usedcar--page .sidebar .filters-section .accordion .accordion-item .accordion-collapse .form-select{ text-transform: capitalize; }
.usedcar--page .cars-section .card--car > img.card-img-top{ 
    max-height: 265px;
    object-fit: cover;
}
.usedcar--page .cars-section .card--car .card-title--price .view-car--btn{
    position: absolute;
    right: 15px; 
}
.usedcar--page .cars-section .card--car .card-body .view-car--btn{
    color: black;
    transition: 0.6s;
}
.usedcar--page .cars-section .card--car .card-body .view-car--btn:hover{
    background-color: black;
    color: yellow;
    border-color: yellow;
}
.usedcar--page .total-cars--info{ font-size:1rem; font-family: 'Bruno Ace', sans-serif; }
.usedcar--page .total-cars--info > strong { font-size:1.2rem;padding-left:2px; }

.usedcar--page .cars-section .card--car .card-body .params span.txt{ font-size: .8rem; }
.usedcar--page .cars-section .card--car .card-body .params > span.icon-wrapper{ font-size: 1rem; } 
.usedcar--page .cars-section .card--car .card-body .params._odo > span.icon-wrapper{ font-size: 1.1rem; }  
.usedcar--page .cars-section .card--car .card-body .params > .icon-wrapper{cursor: pointer; }
.usedcar--page .cars-section .card--car .add-to-favorite{ 
    color:white;
    border:none; background-color:transparent;
    font-size:1.8rem;  
    position:absolute; right:10px; top:10px; 
}
.usedcar--page .cars-section .card--car .add-to-favorite:hover{ color:red; }
.usedcar--page .cars-section .card--car .add-to-favorite.fa-heart{ color:red; }

.usedcar--page .no-cars-found { letter-spacing: 9px; font-size: 1.1rem; font-family: 'Bruno Ace', sans-serif; }

.usedcar--page .cars-sorting .favorites-btn-container{
        position:absolute; right:10px; top:15px; cursor:pointer; opacity: 0.5; 
}
.usedcar--page .cars-sorting .favorites-btn-container .favorites-btn.add-to-favorite{ 
    color:red; text-decoration:none;
    border: none;
    background-color: transparent;
    font-size: 2rem;
} 
.usedcar--page .cars-sorting .favorites-btn-container sub{
    /* position:absolute; right:5px; bottom:13px; */ 
    color:red; text-decoration:none; font-size: 1rem; 
    opacity: 0.6;
}
.usedcar--page .cars-sorting .favorites-btn-container:hover,
.usedcar--page .cars-sorting .favorites-btn-container:hover sub{ opacity:1; }


.usedcar--page .total-cars--info{ position:relative; }
.usedcar--page .color-scheme{ position: absolute; right:0; font-size: 2rem; opacity: 0.5; transition: 0.6s; }
.usedcar--page .color-scheme:hover{ opacity: 1; }
.usedcar--page .color-scheme:active,
.usedcar--page .color-scheme:focus{ border:0; outline:0; }


/*color scheme ==> light*/
.usedcar--page.color-scheme--light .color-scheme { color: #000; }
.usedcar--page.color-scheme--light .card--car .card-title{ color: #000; }
.usedcar--page.color-scheme--light .card--car .card-title.card-title--price{ color:#0d6efd; }
.usedcar--page.color-scheme--light .card--car .hr--decor{ color: #000; }

.usedcar--page.color-scheme--light .cars-sorting{ background-color: #f8f9fa; color:#000; position:relative; }
.usedcar--page.color-scheme--light .no-cars-found { color:#000; }

.usedcar--page.color-scheme--light .no-cars-found { color: black; }

.usedcar--page.color-scheme--light .usedcar--page-titles h1,
.usedcar--page.color-scheme--light .usedcar--page-titles h1 + p,
.usedcar--page.color-scheme--light .usedcar--page-titles + hr { color: #000; }
.usedcar--page.color-scheme--light .sidebar .filters-section .filters-section-caption,
.usedcar--page.color-scheme--light .total-cars--info{ color: #000; }
/*__/color scheme ==> light*/ 

/*color scheme ==> dark*/
.usedcar--page.color-scheme--dark .color-scheme { color: #ffffff; }
.usedcar--page.color-scheme--dark{ background-color: rgb(33, 37, 41); } 
.usedcar--page.color-scheme--dark .card--car .card-body{ background-color: #212529; }
.usedcar--page.color-scheme--dark .card--car .card-title{ color: #ffffff; }
.usedcar--page.color-scheme--dark .card--car .card-title.card-title--price{ color:#ffc107; }
.usedcar--page.color-scheme--dark .card--car .hr--decor,
.usedcar--page.color-scheme--dark .total-cars--info{ color: white; }

.usedcar--page.color-scheme--dark .card--car .params > .icon-wrapper{ background-color: white !important; }

.usedcar--page.color-scheme--dark .sidebar .filters-section .accordion .accordion-item,
.usedcar--page.color-scheme--dark .sidebar .filters-section .accordion .accordion-item .accordion-header > .accordion-button{ background-color: #212529; }

.usedcar--page.color-scheme--dark .cars-sorting{ background-color: #212529; color:white; position:relative; }
.usedcar--page.color-scheme--dark .no-cars-found { color:white; } 

.usedcar--page.color-scheme--dark .no-cars-found { color: black; }
/*__/color scheme ==> dark*/ 


.usedcar--page .sidebar .filters-section .accordion .accordion-item,
.usedcar--page .sidebar .filters-section .accordion .accordion-item .accordion-header{
    font-family: 'Barlow Condensed', sans-serif; 
}
.usedcar--page .sidebar .filters-section .accordion .accordion-item .accordion-header > .accordion-button{
    background-color: #f8f9fa;
    padding: 10px 15px;
    font-size: 1.7rem; 
    color: gray;
}
.usedcar--page .sidebar .filters-section .accordion .accordion-item .accordion-header > .accordion-button:active,
.usedcar--page .sidebar .filters-section .accordion .accordion-item .accordion-header > .accordion-button:focus,
.usedcar--page .sidebar .filters-section .accordion .accordion-item .accordion-header > .accordion-button:focus-visible{ border-bottom: 0;  }

.usedcar--page .sidebar .filters-section .accordion .accordion-item .accordion-header > .accordion-button:focus,
.usedcar--page .sidebar .filters-section .accordion .accordion-item .accordion-header > .accordion-button:active,
.usedcar--page .sidebar .filters-section .accordion .accordion-item .accordion-collapse .form-select:focus,
.usedcar--page .sidebar .filters-section .accordion .accordion-item .accordion-collapse .form-select:active{
    box-shadow: none;
}

.usedcar--page .sidebar .filters-section .accordion .accordion-item .accordion-collapse .form-select{ font-size: 1.1rem; }
.usedcar--page .sidebar .filters-section .accordion .accordion-item .accordion-collapse .form-select:focus{
    border-color: #ffc107;
}
.usedcar--page .sidebar .filters-section .accordion .accordion-item .accordion-header > .accordion-button:not(.collapsed){
    color: #e7ad00;  
}
.usedcar--page .sidebar .filters-section .accordion .noUi-connect{ background: gray; }
.usedcar--page .sidebar .filters-section .filters-section-caption{ 
    letter-spacing:10px; 
    font-size: 1.1rem;
    text-align: center;
    font-family: 'Bruno Ace', sans-serif;
 } 
 
.usedcar--page .sidebar .filters-section .filters-section-caption > i { font-size:1.9rem; color: #ffc107; } 
.usedcar--page .btn-reset-all-filters{ transition: .7s; } 

.usedcar--page .btn-reset-all-filters:hover{ background-color: red; color:white; }


/***********************************************************************
                               #MEDIA QUERIES:
***********************************************************************/
@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
    .usedcar--page .usedcar--page-titles h1{ font-size: 1.9rem; }
} 

@media screen and (max-width: 575px) {
    .usedcar--page .no-cars-found { font-size: .9rem; } 
    .usedcar--page .usedcar--page-titles h1{ font-size: 1.5rem; } 
} 