.carousel .carousel-item h3.chromatic-aberration-effect{ font-size:3.8rem; }
.carousel .carousel-item p{ font-size:1.4rem; }
.carousel-indicators {
    position: absolute;
    bottom: 15px;  /* adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* optional: spacing between dots */
    width: auto;
    margin: 0;
    padding: 0;
}
.carousel-indicators [data-bs-target] {
    text-indent: inherit !important;
}
.carousel-indicators button {
    width: 30px;        /*increase size if needed*/
    height: 30px;
    background-color: transparent !important;
    border: none;
    position: relative;
    padding: 0;
}
.carousel-indicators button::before {
    content: "\f10c"; /*fa-circle-o*/
    font-family: FontAwesome;
    font-size: 25px;
    color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Active state */
.carousel-indicators .active::before {
    content: "\f111"; /*fa-circle*/
    color: yellow;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.9);
}


/***********************************************************************
                               #MEDIA QUERIES:
***********************************************************************/
@media screen and (min-width: 1500px) {
    .carousel-item {height:590px; }/*fixed height*/
    .carousel-item img {height:100%; object-fit:cover;} /* crop if aspect ratio is different */
}


@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
    .carousel .carousel-item h3.chromatic-aberration-effect{ font-size:2.8rem; }
    .carousel .carousel-item p{ font-size:1rem; }
    .carousel-indicators button::before { font-size: 23px; }
}

@media screen and (max-width: 767px) {
        .navbar-brand > img { width:80px; height:auto; }
        .carousel .carousel-item h3.chromatic-aberration-effect{ font-size:1.8rem; }
        .carousel .carousel-item p{ font-size:.9rem; }
        .carousel-indicators button::before { font-size: 19px; }
}

@media screen and (max-width: 575px) {} 